<!doctype html>
<html>
<head>
    <title>Question Paper Setter</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
    </head>
<body>
    <div class="container">
    
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Question Paper</h1>
            <a href="/addq" class="btn btn-default"><span class="fa fa-user"></span> Add Question</a>
            
        </div>
        <% for(var i = 0 ; i < data.length ; i++){ %>
            <h3>Question.<%=i+1%> <%= data[i].title%></h3>
            <h2><%= data[i].type%></h2>
            <h2><%= data[i].addQuestion%></h2>
            <form action="/teacher/<%=data[i]._id %>.?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-lg"> Delete </button>
            </form>    
         <%}%>
        
    </div>
    </body>
</html>